body{ 
  text-align: center;
  background-color: chocolate;
  color: black;
  padding: 10px;
}


#endereçoForm{
  padding: 10px;

}

#cep{
  padding: 5px;
  border-radius: 10px;
}

#botao{
  padding: 5px;
  border-radius: 10px;
  background-color: dimgray;
}


#botao2{
  padding: 5px;
  border-radius: 10px;
  background-color: dimgray;
}
  