body{
  text-align: center;
  background-color: rgb(102, 102, 102);
  font-size: 20px;
}

#resultado {
  margin-top: 20px;
}

#resultado p {
  margin-bottom: 5px;
  border-radius: 10px;
}

#resultado strong {
  margin-right: 5px;
}


#cep{
  border-radius: 10px;
  padding: 10px;
}


#botao{
  background-color: blue;
  border-radius: 10px;
  padding: 10px;

}

#botao2{
  background-color: blue;
  border-radius: 10px;
  width: 100px;
  padding: 5px;

}