body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#conteudo {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#subtitulo {
  list-style-type: none;
  padding-left: 0;
}

#subtitulo > li {
  margin-bottom: 15px;
}

#subtitulo ol {  
  padding-left: 20px;
}

#subtitulo ol > li {
  margin-bottom: 5px;
}
